@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapperAll {
  display: flex;
  flex-direction: column;
  background: linear-gradient(140deg, #808080de, rgba(32, 32, 32, 0.76));
  height: auto;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 300px;
  width: 100%;
  float: left;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 0px;
  max-width: 600px;
  width: 100%;
  min-height: 680px;
  border: 2px solid rgba(0, 0, 0, 0.575);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textField {
  max-width: 300px;
  width: 100%;
  height: 15px;
  border-radius: 8px;
  margin: 25px;
  margin-top: 30px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customTextField input {
  width: 300px;
}

.header {
  display: flex;
  align-items: center;
  height: 53px;
  justify-content: center;
  position: relative;
}

.image {
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(0%) contrast(100%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.image:hover {
  filter: brightness(0) saturate(100%) invert(16%) sepia(90%) saturate(3362%)
    hue-rotate(187deg) brightness(95%) contrast(101%);
}

.close_btn {
  position: absolute;
  left: 14px;
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.close_btn:hover {
  transform: scale(1.1);
}

.modal h2 {
  display: flex;
  justify-content: center;
  font-size: 2.1rem;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttonLoginWith,
.buttonNext {
  border-color: rgb(51, 54, 57);
  background-color: rgb(255, 255, 255);
  max-width: 380px;
  transition-duration: 0.2s;
  user-select: none;
  height: 40px;
  transition-property: background-color, box-shadow;
  min-height: 36px;
  outline-style: none;
  margin-top: 10px;
  cursor: pointer;
  width: 300px;
  flex: 0 0 auto;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  pointer-events: auto;
  font-size: 15px;
  color: #202124;
  direction: ltr;
  font-family: "Roboto-Regular", arial, sans-serif;
  font-weight: 600;
}
.buttonLoginWith {
  position: relative;
}

.buttonLoginWith > span {
  font-size: 0.6rem;
  color: grey;
  position: absolute;
  right: 10px;
}
.orContainer {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  width: 300px;
  height: 46px;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.buttonNext {
  background-color: black;
  color: white;
  font-size: 1.07rem;
}
.buttonNext:hover {
  background-color: rgba(0, 0, 0, 0.842);
}

.orContainer {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.spanOr {
  display: flex;
  width: stretch;
  height: 2px;
  background-color: rgb(62, 65, 68);
  margin-left: 4px;
  margin-right: 4px;
}

.footer {
  margin-top: 30px;
}
.register {
  color: rgb(31, 98, 199);
}

.register:hover {
  cursor: pointer;
  text-decoration: underline;
}

.helper {
  position: absolute;
  width: 200px;
  height: 150px;
  background-color: rgb(53, 50, 50);
  border-radius: 15px;
  top: 45%;
  right: -36%;
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.5);
  z-index: 1000;
}

.footer_kam {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: black;
  margin: 16px 0;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  position: relative;
  top: 30px;
}

@media only screen and (max-width: 1040px) {
  .helper {
    top: 45%;
    right: -10%;
    font-size: 0.9rem;
    width: auto;
    height: auto;
    padding: 15px;
  }
}

@media only screen and (max-width: 720px) {
  .helper {
    top: 20%;
    right: 0%;
  }
}

@media only screen and (max-width: 400px) {
  .customTextField input {
    width: 200px;
    height: 20px;
  }
  .buttonNext,
  .buttonLoginWith {
    margin-top: 30px;
    max-width: 240px;
    width: 100%;
  }
  .modal h2 {
    font-size: 1.7rem;
  }

  .h1container > h1 {
    font-size: 3rem;
  }

  .buttonNext,
  .buttonLoginWith,
  .buttonLogin,
  .orContainer,
  .desc {
    max-width: 260px;
    width: 100%;
    margin-top: 10px;
  }

  .contentContainer,
  .imageContainer {
    padding-left: 10px;
  }
  .footer {
    font-size: 0.85rem;
  }
}
