.input_box {
  border: 1px solid rgba(128, 128, 128, 0.664);
}

.cointainer {
  margin-top: 25px;
  border: 1px solid rgba(128, 128, 128, 0.158);
}

.nav_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_btns .set_btn {
  background: transparent;
  color: rgb(126, 117, 117);
  font-size: 1.15rem;
  height: 50px;
  flex: 5;
  border: 0px;
}
.set_btn:hover {
  background-color: rgba(128, 128, 128, 0.158);
  cursor: pointer;
}

.gear_btn {
  background: transparent;
  color: rgb(126, 117, 117);
  font-size: 1.15rem;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 1;
  border: 0px;
  align-items: center;
  justify-content: center;
}
.gear_btn:hover {
  background-color: rgba(128, 128, 128, 0.158);
  cursor: pointer;
  border-radius: 50%;
}

.input_container {
  display: flex;
  flex-direction: row;
}
.container_text {
  display: flex;
  flex-direction: column;
  flex: 10;
}

.container_emojis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container_left {
  display: flex;
  flex-direction: row;
}

.container_left > p {
  margin-left: 10px;
  margin-right: 10px;
}
.post_btn {
  margin-right: 80px;
  background-color: rgb(26, 132, 219);
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: white;
  font-weight: bold;
}

.user_img {
  border-radius: 50%;
  resize: none;
  margin-right: 10px;
}

.textarea {
  border: none;
  resize: none;
  font-size: large;
  color: #707070;
  letter-spacing: wider;
  min-height: 50px;
  color: #707070;
  outline: none;
  margin-left: 10px;
}
