.positionOfSidebar {
  height: 100vh;
}

.left_wing {
  position: sticky;
  top: 10px;
  display: flex;
  flex: 3;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  height: 100vh;
  margin-top: 5px;
}

.image_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 225px;
}
.icons_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 210px;
  margin: 15px;
}
.icons_container span {
  display: flex;
  margin-top: 20px;
  cursor: pointer;
  width: 210px;
  text-align: right;
  font-size: 23px;
}

.icons_container b {
  display: flex;
  align-items: center;
  width: 60px;
}
.icons_container button {
  border-color: rgb(24, 129, 233);
  background-color: rgb(26, 132, 219);
  max-width: 380px;
  transition-duration: 0.2s;
  user-select: none;
  height: 60px;
  min-height: 36px;
  outline-style: none;
  margin-top: 50px;
  cursor: pointer;
  max-width: 310px;
  min-width: 210px;
  flex: 0 0 auto;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  pointer-events: auto;
  font-size: 18px;
  color: white;
  direction: ltr;
  font-family: "Roboto-Regular", arial, sans-serif;
  font-weight: 600;
}

.user_info {
  font-size: 20px;
  position: fixed;
  bottom: 0px;
  height: 60px;
}
