.input_box {
  border: 1px solid rgba(128, 128, 128, 0.664);
  min-width: 592px;
  width: 100%;
  margin: 0 auto;
}

.cointainer {
  margin-top: 25px;
  border: 1px solid rgba(128, 128, 128, 0.158);
  width: 100%;
  flex-grow: 1;
}

.nav_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_btns .set_btn {
  background: transparent;
  color: rgb(126, 117, 117);
  font-size: 1.15rem;
  height: 50px;
  flex: 5;
  border: 0px;
}
.set_btn:hover {
  background-color: rgba(128, 128, 128, 0.158);
  cursor: pointer;
}

.gear_btn {
  background: transparent;
  color: rgb(126, 117, 117);
  font-size: 1.15rem;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 1;
  border: 0px;
  align-items: center;
  justify-content: center;
}
.gear_btn:hover {
  background-color: rgba(128, 128, 128, 0.158);
  cursor: pointer;
  border-radius: 50%;
}

.input_container {
  display: flex;
}
.container_text {
  display: flex;
  flex-direction: column;
  flex: 10;
}
.container_text > textarea {
  padding-top: 10px;
  flex-grow: 1;
  width: 90%;
}

.container_emojis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.container_left {
  display: flex;
  flex-direction: row;
}

.container_left > p {
  margin-left: 10px;
  margin-right: 10px;
}
.post_btn {
  margin-right: 80px;
  background-color: rgb(26, 132, 219);
  border: none;
  height: 35px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 10px;
}

.post_btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.user_img {
  border-radius: 50%;
  resize: none;
  margin-right: 10px;
}

.textarea {
  border: none;
  resize: none;
  font-size: large;
  color: #707070;
  letter-spacing: wider;
  min-height: 50px;
  color: #707070;
  outline: none;
  margin-left: 10px;
}
.add_photo,
.add_emoji {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.3rem;
  margin: 0;
}

.add_photo:hover,
.add_emoji:hover {
  background-color: #70707025;
  cursor: pointer;
}
.container_uploaded_img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.uploaded_img {
  padding: 10px;
  width: 516px;
  border-radius: 30px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(8, 8, 8, 0.5);
}

.remove_imported_img {
  position: relative;
  left: 40%;
  top: 12%;
  background: rgba(163, 160, 160, 0.425);
  width: 40px;
  height: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.remove_imported_img:hover {
  background-color: rgba(87, 86, 86, 0.637);
}

@media screen and (max-width: 800px) {
  .wrapper {
    display: flex;
    flex-grow: 1;
  }
  .input_box {
    width: 100%;
    height: auto;
    flex-grow: 1;
  }
}
