.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Dodane */
  gap: 20px;
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  min-height: 100vh;
  flex: 3;
  align-items: center;
}

.imageContainer {
  display: flex;
  width: 600px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 350px;
  max-height: 310px;
}

.container h1 {
  font-size: 64px;
  overflow-wrap: break-word;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: inherit;
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: inherit;
  text-decoration: none;
  white-space: inherit;
  letter-spacing: -1.2px;
  pointer-events: auto;
}

.h1container {
  width: 720px;
  max-width: 780px;
}

.container h3 {
  font-size: 31px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid black;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  padding: 0px;
  text-align: inherit;
  text-decoration: none;
  white-space: inherit;
  pointer-events: auto;
}

.buttonLoginWith {
  border-color: rgb(51, 54, 57);
  background-color: rgb(255, 255, 255);
  max-width: 380px;
  transition-duration: 0.2s;
  user-select: none;
  height: 40px;
  transition-property: background-color, box-shadow;
  min-height: 36px;
  outline-style: none;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  width: 300px;

  flex: 0 0 auto;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  pointer-events: auto;
  font-size: 15px;
  color: #202124;
  direction: ltr;
  font-family: "Roboto-Regular", arial, sans-serif;
  font-weight: 600;
}
.buttonLoginWith:hover {
  background-color: rgba(255, 255, 255, 0.877);
}

.orContainer {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  width: 300px;
  height: 46px;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
.orContainer p {
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.spanOr {
  display: flex;
  width: stretch;
  height: 2px;
  background-color: rgb(62, 65, 68);
  margin-left: 4px;
  margin-right: 4px;
}

.buttonCreateAccount {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgb(29, 155, 240);
  max-width: 380px;
  transition-duration: 0.2s;
  user-select: none;
  height: 40px;
  transition-property: background-color, box-shadow;
  min-height: 36px;
  outline-style: none;
  margin-right: 20px;
  margin-bottom: 8px;
  cursor: pointer;
  width: 300px;
  padding-left: 16px;
  padding-right: 16px;
  flex: 0 0 auto;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  pointer-events: auto;
  font-size: 16px;
  color: white;
  direction: ltr;
  font-family: "Roboto-Regular", arial, sans-serif;
  font-weight: 700;
}

.buttonCreateAccount:hover {
  background-color: rgba(29, 156, 240, 0.822);
}

.desc {
  color: rgb(113, 118, 123);
  width: 300px;
  max-width: 380px;
  flex: 1 1 0%;
  list-style: none;
  margin-bottom: 20px;
  padding: 0px;
  text-align: inherit;
  text-decoration: none;
  white-space: pre-wrap;
  line-height: 1.2;
  font-size: 12px;
}

.container h4 {
  font-size: 20px;
}

.buttonLogin {
  border-color: rgb(83, 100, 113);
  background-color: rgba(0, 0, 0);
  max-width: 380px;
  transition-duration: 0.2s;
  user-select: none;
  height: 40px;
  transition-property: background-color, box-shadow;
  min-height: 36px;
  outline-style: none;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
  width: 300px;
  padding-left: 16px;
  padding-right: 16px;
  flex: 0 0 auto;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  pointer-events: auto;
  color: #202124;
  direction: ltr;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}

.buttonLogin p {
  color: rgb(29, 155, 240);
  font-size: 18px;
  margin: 0px;
  font-weight: bold;
  padding: 0px;
}

.buttonLogin:hover {
  background-color: rgba(29, 155, 240, 0.1);
}
