.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left_wing {
  display: flex;
  flex: 3;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  position: sticky;
  top: 2%;
  height: 100vh;
  margin-right: 40px;
}
.right_wing {
  display: flex;
  flex: 3;
}
.center {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 610px;
}
.center button {
  height: 50px;
}
