.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
}
.left_wing {
  display: flex;
  flex: 3;
  border: 3px solid brown;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
}
.right_wing {
  display: flex;
  flex: 3;
  border: 3px solid red;
}
.center {
  display: flex;
  flex-direction: column;
  flex: 5;
  border: 3px solid green;
  min-width: 420px;
}
.center button {
  height: 50px;
}
